*.class

# Package Files #
*.jar
*.war
*.ear
/dist/
/jsoup/nbproject/private/
/org.apache.httpcomponents.httpclient/nbproject/private/
/commons-codec/build/
/commons-codec/nbproject/private/
/commons-logging-1.1.3-javadoc/build/
/commons-logging-1.1.3-javadoc/nbproject/private/